<div class="position-relative content">
  <div class="progress-content position-relative">
    <div class="progress-title">
      <p>
        Please wait while we connect you to a call...
        <span>ETA 00:{{eta}}</span>
      </p>
      <div>
        <div class="progress-bar-blue">
          <div class="fill a" [ngStyle]="{'width': completionPercent + '%'}"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="instruction">
    <div class="information">
      <div class="help-info">
        <p class="item">
          <img src="/assets/images/instruction.svg" alt="" srcset="">
          <span>See the instructions</span>
        </p>
        <p class="item">
          <img src="/assets/images/script-icon.svg" alt="" srcset="">
          <span>See the call Script</span>
        </p>
        <p class="item">
          <img src="/assets/images/game.svg" alt="" srcset="">
          <span>Play a quick game</span>
        </p>
        <p class="item">
          <img src="/assets/images/chats.svg" alt="" srcset="">
          <span>Message and chats</span>
        </p>
      </div>
      <div class="call-info">
        <p class="title">
          <span class="red-dot"></span>
          Calls will be recorded...
        </p>
        <p>
          Our call recording policies are implemented for the safety of the users and for improving the quality of the call.
        </p>
      </div>
    </div>
  </div>
  <div class="feature-img">
    <img src="/assets/images/sammy-office.png" alt="" srcset="">
  </div>
</div>

