.top{
  gap: 5px;
}
.dropdown{
  max-width: 180px;
  button{
    font-weight: 700;
    font-size: 19px;
    line-height: 32px;
    color: #1C1D21;
    overflow-x: hidden !important;
    white-space: pre-wrap !important;
  }
}
.desc{
  width: 520px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px 30px;
  small{
    font-size: 12px;
    line-height: 21px;
    color: #8181A5;
  }
  strong{
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #1C1D21;
  }
}

.mat-tab-label{
  font-weight: 700;
  opacity: 1 !important;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--primary-hex-color) !important;
  img{
    padding-right: 15px;
  }
}

.script-header{
  strong{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.0224em;
    text-transform: capitalize;
    color: #222831;
  }
  p{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.0164em;
    text-transform: uppercase;
    color: #949CA9;
    max-width: 242px;
  }
}
