.dropdown{
  button{
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #1C1D21;
  }
}
.desc{
  width: 550px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px 30px;
  small{
    font-size: 12px;
    line-height: 21px;
    color: #8181A5;
  }
  strong{
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #1C1D21;
  }
}

.mat-tab-label{
  font-weight: 700;
  opacity: 1 !important;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #5E81F4 !important;
  img{
    padding-right: 15px;
  }
}
