.initiate{
  img{
    max-width: 569px;
  }
  p{
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.0224em;
    color: #222831;
  }

  .wait{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.0224em;
    color: #222831;
  }
}
