<div class="script-content">
  <div class="title">
    <h3>Script</h3>
  </div>
  <div class="first-section">
    <p>
      Hi this is <span>{{agentName}}</span>
    </p>
    <p class="mt-1">
      from the <span>{{company}}</span>. I am reaching out
    </p>
    <p class="mt-1">
      today with some important information about your Voting Options.
    </p>
  </div>
  <div class="option-section">
    <div class="option">
      <p>
        <span class="serial">1.</span>
        Is <span>[supporter_name]</span> here ?
      </p>
    </div>
    <div class="option">
      <p>
        <span class="serial">2.</span>
        Is <span>[supporter_name]</span> now ?
      </p>
    </div>
    <div class="option">
      <p>
        <span class="serial">3.</span>
        Yes <span>[supporter_name]</span> here ?
      </p>
    </div>
  </div>
  <div class="user-section mt-5" *ngIf="isShowScript">
    <div *ngFor="let item of scriptPerson" class="d-flex justify-content-between script-item">
      <div (click) = "contactSelected.emit(item)" class="clickAble"></div>
      <div class="d-flex item">
        <div class="image position-relative align-self-center">
          <img src="/assets/images/script-user.svg" alt="" srcset="">
          <span class="number">33</span>
        </div>
        <div class="align-self-center">
          <strong>{{item}}</strong>
        </div>
      </div>
      <div class="d-flex align-self-center available">
        <div class="align-self-center">
          <p>Available: </p>
        </div>
        <div class="align-self-center position-relative option">
          <app-script-user-dropdown></app-script-user-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>
