<div class="container">
  <div class="header-nav d-flex flex-wrap justify-content-between">
    <div class="profile d-flex pb-2 pb-lg-0">
      <div class="align-self-center mr-2">
        <img src="/assets/images/unavailable-profile.svg" alt="" srcset="">
      </div>
      <div class="align-self-center">
        <p class="mb-0">
          <strong>Arun Dhungel</strong>
        </p>
        <p class="mb-0 unavailable">Unavailable</p>
      </div>
    </div>
    <div class="contact-number align-self-center">
      <p class="signal-detrails">
        <span><img src="/assets/images/signal.svg" alt="" srcset=""></span>
        <span class="number">(702) 555-0122</span>
        <span class="number">.</span>
        <span>Live call: 0:34</span>
      </p>
    </div>
    <div class="call-feature d-flex justify-content-between">
      <div class="feature-item">
        <img src="/assets/images/hold.svg" alt="" srcset="">
        <p class="mb-0 text-center">Hold</p>
      </div>
      <div class="feature-item">
        <img src="/assets/images/mute.svg" alt="" srcset="">
        <p class="mb-0 text-center">Mute</p>
      </div>
      <div class="feature-item align-self-center">
        <img src="/assets/images/line.svg" alt="" srcset="">
      </div>
      <div class="feature-item">
        <img src="/assets/images/keypad.svg" alt="" srcset="">
        <p class="mb-0 text-center">Keypad</p>
      </div>
      <div class="feature-item">
        <img src="/assets/images/transfer.svg" alt="" srcset="">
        <p class="mb-0 text-center">Transfer</p>
      </div>
      <div class="feature-item align-self-center">
        <img src="/assets/images/line.svg" alt="" srcset="">
      </div>
      <div class="feature-item">
        <img src="/assets/images/flag-call.svg" alt="" srcset="">
        <p class="mb-0 text-center">Flag Call</p>
      </div>
      <div class="feature-item align-self-center">
        <img src="/assets/images/line.svg" alt="" srcset="">
      </div>
      <div class="feature-item">
        <img src="/assets/images/hang-call.svg" alt="" srcset="">
        <p class="mb-0 text-center">Hang Up</p>
      </div>
    </div>
  </div>
</div>
