/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import '~@ctrl/ngx-emoji-mart/picker';

html, body { height: 100%; }
body { margin: 0; font-family: 'Lato', sans-serif; background: linear-gradient(145.26deg, #5E81F4 36.59%, #1B51E5 78.99%);}

img{
  max-width: 100%;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: rgba(94, 129, 244, 1);
}

.carousel-control-next::after {
  content: url("/assets/images/carousel_next-icon.svg") !important;
  .carousel-control-next-icon{
    background-image: none;
  }
}

.carousel-control-prev::after {
  content: url("/assets/images/prev.svg") !important;
  .carousel-control-prev-icon{
    background-image: none;
  }
}


p{
  margin-bottom: 0px !important;
}

.strong{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1C1D21;
}

// .mat-form-field-appearance-fill .mat-form-field-flex {
//   background-color: white;
// }

@media (min-width: 1200px){
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1272px !important;
  }
}
