/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body{
  font-family: 'Lato', sans-serif;
  background: linear-gradient(145.26deg, #5E81F4 36.59%, #1B51E5 78.99%);
}
img{
  max-width: 100%;
}

@media (min-width: 1200px){
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1272px !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
