.header{
  gap: 25px;
  padding:9px 0px 26px 0px;
  border-bottom: 1px solid #F0F0F0;;
  .name-div{
    img{
      padding-bottom: 4px;
    }
    .name{
      margin-left: 25px;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #1C1D21;
    }
  }

  .status{
    font-weight: 700;
    font-size: 11.8644px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 14px;
    background: #4DF189;
    border-radius: 37px;
  }

  .date{
    span{
      font-weight: 700;
      font-size: 12px;
      line-height: 25px;
      color: #8181A5;
    }
  }

  .time{
    span{
      background: rgba(255, 176, 14, 0.1);
      border-radius: 4px;
      padding: 8px 13px;
      color: #FFB00E;
      font-weight: 700;
      font-size: 11px;
      line-height: 21px;

      &.left{
        margin-left: 5px;
        font-weight: 700;
        line-height: 22px;
        font-size: 14px;
        padding: 5px 13px 8px 13px;
      }
    }
  }
}
