<div class="header d-flex flex-wrap">
  <div class="left d-flex flex-wrap align-self-center">
    <div class="align-self-center name-div">
      <img src="/assets/images/back-icon.svg" alt="" srcset="">
      <span class="name">{{campaignName}}</span>
    </div>
    <div class="align-self-center">
      <span class="status">Active</span>
    </div>
    <div class="date align-self-center">
      <span>13 Dec, 2021</span>
    </div>
    <div class="time align-self-center">
      <span>
        <img src="/assets/images/time.svg" alt="" srcset="">
        10:00 AM - 06:00 PM
      </span>
      <span class="left">
        5 Days left
      </span>
    </div>
  </div>
  <div class="right" *ngIf="showProgress">
    <div class="text">
      <span class="connect">Connecting call</span>
      <span class="count">ETA  00:{{eta}}</span>
    </div>
    <div class="progress-bar-blue">
      <div class="fill a" [ngStyle]="{'width': completionPercent + '%'}"></div>
    </div>
  </div>
</div>
